*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
/* colors */
  --neutral-swatch-100: #F5F3FF;
  --neutral-swatch-200: #DFDDE9;
  --neutral-swatch-300: #C9C7D2;
  --neutral-swatch-400: #87868F;
  --neutral-swatch-500: #717078;
  --neutral-swatch-600: #45444B;
  --neutral-swatch-700: #2F2F35;
  --neutral-swatch-800: #19191E;
  --neutral-swatch-900: #030308;

  --primary-swatch-100: #F2F2FF;
  --primary-swatch-200: #DDDDEA;
  --primary-swatch-300: #C7C8D5;
  --primary-swatch-400: #888996;
  --primary-swatch-500: #727481;
  --primary-swatch-600: #484A57;
  --primary-swatch-700: #333542;
  --primary-swatch-800: #1D202D;
  --primary-swatch-900: #080B1B;

/* font sizes */
  --text-xs: 0.812rem;
  --text-sm: 0.875rem;
  --text-base: 1rem; /* 1.125 scale */
  --text-lg: 1.125rem;
  --text-xl: 1.250rem;
  --text-2xl: 1.438rem;
  --text-3xl: 1.625rem;
  --text-4xl: 1.812rem;
  --text-5xl: 2rem;

  /* Shadows */
  --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25), 0 10px 12px -8px rgb(0 0 0 / 0.1);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

  /* Glows */
  --drop-glow: drop-shadow(0px 8px 4px rgba(255, 255, 255, 0.25));
  --glow-sm: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(255, 255, 255, 0.04), 0px -4px 16px rgba(255, 255, 255, 0.08);
  --glow-border:  0px 0px 3px 1px rgba(255, 255,255,0.9);
  --glow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 8px rgba(255, 255, 255, 0.04), 0px -4px 16px rgba(255, 255, 255, 0.08);
  --glow-md:  0px 0px 15px 1px rgba(255, 255,255,0.9);
  --glow-lg: 0px 0px 20px 2px rgba(255, 255,255,0.9);
  --glow-xl: 0px 0px 30px 3px rgba(255, 255,255,0.9);
  --glow-2xl: 0px 0px 60px 4px rgba(255, 255,255,0.9);
  --glow-inner: inset var(--glow);
}

html {
  background: white;
}

html.dark {
  background: black;
}

body {  
  --pen-color: var(--neutral-swatch-900); /* For text, outlines */
  --screen-color: var(--neutral-swatch-200); /* Background */
  --base-color: var(--neutral-swatch-100); /* Opposite to pen */
  --accent-color: var(--primary-swatch-700); /* Highlighted */
  --gray-color: var(--primary-swatch-500); /* Grayed out */
  --shade-color: var(--neutral-swatch-300); /* Shaded boxes */
  --faint-border-color: var(--neutral-swatch-300); /* Catalogue divider */
  --not-selected-color: var(--primary-swatch-500);

  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 150%;
  min-height: 100svh;
  background-color: var(--screen-color);
  color: var(--pen-color);
  transition: all 0.3s ease-in-out;
}

.dark body {
  --pen-color: var(--neutral-swatch-100); /* For text, outlines */
  --screen-color: var(--neutral-swatch-800); /* Background */
  --base-color: var(--neutral-swatch-900); /* Opposite to pen */
  --accent-color: var(--primary-swatch-200); /* Highlighted */
  --gray-color: var(--primary-swatch-500); /* Grayed out */
  --shade-color: var(--primary-swatch-900); /* Shaded boxes */
  --faint-border-color: var(--primary-swatch-800); /* Catalogue divider */
  --not-selected-color: var(--primary-swatch-600);
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

h1 {
  font-weight: 900;
  font-size: var(--text-5xl);
}

h2 {
  font-weight: 700;
  font-size: var(--text-3xl);
}

p.subtitle {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: var(--text-lg);
}

p b {
  font-weight: 700;
}

body::-webkit-scrollbar {
  background-color: var(--shade-color);
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray-color);
  border: 1.3px solid var(--shade-color);
  border-radius: 20px;
}

.drop-shadow-glow {
  filter: var(--drop-shadow);
}

.dark .drop-shadow-glow {
  filter: var(--drop-glow);
}

/* Common UI Elements */

/* 
--------- Useful in other project maybe ------------
button {
  border: none;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-radius: 999px;
}

button.primary {
  background-color: var(--primary-swatch-100);
}

button.secondary {
  background-color: var(--primary-swatch-800);
  color: var(--primary-swatch-100);
}
 */

/* Tabs */

div[role="tablist"] {
  display: inline-flex;
  color: var(--gray-color);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

div[role="tablist"] input {
  display: none;
}

div[role="tablist"] label {
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  color: inherit;
}

div[role="tablist"] input:checked + label {
  color: var(--accent-color);
  text-shadow: 1px 0 0 var(--accent-color); /* Bold without layout shift */
}

/* Tabs: Underlined */

div[role="tablist"].underlined-tabs {
  gap: 2rem;
}

div[role="tablist"].underlined-tabs svg {
  height: 1.5rem;
  width: auto;
}

div[role="tablist"].underlined-tabs span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div[role="tablist"].underlined-tabs label {
  padding-bottom: 0.5rem;
}

div[role="tablist"].underlined-tabs .the-underline {
  height: 3px;
  width: 0px;
  background-color: transparent;
  border-radius: 999px;
  transition: all 0.3s ease-in-out;
}

div[role="tablist"].underlined-tabs span:hover .the-underline, div[role="tablist"].underlined-tabs input:checked ~ .the-underline {
  background-color: var(--gray-color);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

div[role="tablist"].underlined-tabs input:checked ~ .the-underline {
  background-color: var(--accent-color);
}

/* Tabs: Segmented controls */

div[role="tablist"].segmented-controls {
  height: 28px;
  width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--gray-color);
  border-radius: 3px;
}

div[role="tablist"].segmented-controls label {
  padding: 5px;
}

div[role="tablist"].segmented-controls label svg {
  height: 100%;
  width: auto;
  color: inherit;
}

div[role="tablist"].segmented-controls label:not(:last-child) {
  border-right: 1px solid var(--gray-color);
}

/* Toggle */

input[type="checkbox"].toggle-check {
  padding: 0;
  appearance: none;
  width: 3rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--pen-color);
  background-color: inherit;
  position: relative;
}

input[type="checkbox"].toggle-check:after {
  content: '';
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: var(--gray-color);
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
}

input[type="checkbox"].toggle-check:checked:after {
  transform: translateX(1.5rem);
  background-color: var(--accent-color);
  transition: all 0.3s ease-in-out;
}

/* The to-do placeholder */

span.todo {
  font-size: var(--text-3xl);
  font-weight: 700;
  color: var(--pen-color);
  width: 100%;
  display: inline-flex;
  margin: 3rem 0;
  justify-content: center;
  align-content: center;
}

/* Animations */

.skeleton {
  animation: skeleton-loader 1s linear infinite alternate;
}

@keyframes skeleton-loader {
  0% {
  background-color: rgba(109, 128, 148, 0.7);
  }

  100% {
  background-color: rgba(109, 128, 148, 0.3);
  }
}

/* sm screen */
@media only screen and (min-width: 640px) {

  :root {
    /* font sizes */
    --text-xs: 0.625rem;
    --text-sm: 0.812rem;
    --text-base: 1rem; /* 1.25 scale */
    --text-lg: 1.25rem;
    --text-xl: 1.562rem;
    --text-2xl: 1.938rem;
    --text-3xl: 2.438rem;
    --text-4xl: 3.062rem;
    --text-5xl: 3.812rem;
  }
  
}

/* lg screen */
@media only screen and (min-width: 1024px) {

  :root {
    /* font sizes */
    --text-xs: 0.562rem;
    --text-sm: 0.75rem;
    --text-base: 1rem; /* 1.33 scale */
    --text-lg: 1.312rem;
    --text-xl: 1.750rem;
    --text-2xl: 2.375rem;
    --text-3xl: 3.188rem;
    --text-4xl: 4.188rem;
    --text-5xl: 5.625rem;
  }

  
}