---
import Layout from "../layouts/Layout.astro";
import Flasklogo from "../components/flasklogo.astro";
import FlaskIcon from "~icons/ri/flask-fill";
import GithubLogo from "~icons/ri/github-line"
import Xylarlogo from "@components/xylarlogo.astro";
import XButton from "@components/xButton.astro";
---

<Layout title="Welcome to Xylar's Web Lab">

  <div id="top-section"> <!-- Not a <section> as purpose is only as styling wrapper -->
    <Xylarlogo class="xylar-logo" />

    <header>

      <span>
        <Flasklogo id="preferences" class="lab-logo drop-shadow-glow"/>
        <h1>
          Xylar's Web Lab
        </h1>
      </span>

      <p class="subtitle">
        Testing Ground for Components
      </p>

      <nav>
        <XButton class="primary">
          Launch Lab&nbsp; <FlaskIcon/>
        </XButton>

        <XButton href="https://github.com/xylarshayu" rel="noopener" target="_blank" class="secondary">
          Go to Github&nbsp; <GithubLogo/>
        </XButton>
      </nav>

    </header>



  </div>

  <script>    
    const pref = document.getElementById('preferences');
    pref?.addEventListener("click", () => {
      document.documentElement.classList.toggle('dark');
      localStorage?.setItem('isDark', document.documentElement.classList.contains('dark').toString());
    });
  </script>

</Layout>

<style>

#top-section {
  background: linear-gradient(to bottom, var(--primary-swatch-100), transparent 25%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300vh;
  overflow: hidden;
}

#top-section > .xylar-logo {
  fill: var(--primary-swatch-200);
  position: absolute;
  top: -39.66vw;
  right: 3vw;
  z-index: 0;
  height: 90vh;
  width: auto;
}

#top-section header {
  padding: 20vh 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#top-section header .lab-logo {
  margin-bottom: 2.5rem;
}

#top-section header h1 {
  line-height: 1.5;
}

#top-section header nav {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#top-section .xButton {
  box-shadow: var(--shadow);
}






/* Dark Mode */
:global(.dark) #top-section {
  background: linear-gradient(to bottom, var(--neutral-swatch-900), transparent 25%);
}
:global(.dark) #top-section > .xylar-logo {
  fill: var(--neutral-swatch-800);
}

:global(.dark) #top-section nav .primary.xButton {
  box-shadow: var(--glow);
}

</style>
