---
import Layout from "../layouts/Layout.astro";
import Flasklogo from "../components/flasklogo.astro";
---

<Layout title="Welcome to Xylar's Web Lab">
  <Flasklogo id="flask"/>

  <h1>Hi my name is Shayu</h1>

  <p>I also go by Xylar.</p>

</Layout>

<script>

  const flask = document.getElementById('flask');
  flask?.addEventListener("click", () => {
    document.documentElement.classList.toggle('dark');
  });

</script>

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 30vh;
    background-position: center center;
  }

  #flask {
    height: 5vh;
    width: auto;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 20px;
    left: 20px;
  }



</style>
