---
import Layout from "../layouts/Layout.astro";
import Flasklogo from "../components/flasklogo.astro";
import FlaskIcon from "~icons/ri/flask-fill";
import GithubLogo from "~icons/ri/github-line";
import PuzzleIcon from "~icons/mdi/puzzle";
import ReactIcon from "~icons/mdi/react";
import TemplateIcon from "~icons/heroicons-solid/template";
import BookletIcon from "~icons/ri/booklet-fill"
import Xylarlogo from "@components/xylarlogo.astro";
import XButton from "@components/xButton.astro";
import CatalogueMenu from "@components/catalogueMenu.astro";
import ComponentList from "@components/componentList.astro";
import ComponentSolo from "@components/componentSolo.astro";
import PageList from "@components/pageList.astro";

import CustomComponent from "@components/customComponent.astro";

---

<Layout title="Welcome to Xylar's Web Lab">

  <div id="top-section"> <!-- Not a <section> as purpose is only as styling wrapper -->
    <Xylarlogo class="xylar-logo" /> <!-- TODO look into :before content: (#xylarlogo) approach-->

    <header>

      <span>
        <Flasklogo id="preferences" class="lab-logo drop-shadow-glow"/>
        <h1>
          Xylar's Web Lab
        </h1>
      </span>

      <p class="subtitle">
        Testing Ground for Components
      </p>

      <nav>
        <XButton class="primary">
          Launch Lab&nbsp; <FlaskIcon/>
        </XButton>

        <XButton href="https://github.com/xylarshayu" rel="noopener" target="_blank" class="secondary">
          Go to Github&nbsp; <GithubLogo/>
        </XButton>
        <!-- TODO Change the base font to Arial  to fix weird vertical alignment issue! -->
      </nav>

    </header>
    <section class="features">

      <div>
        <PuzzleIcon/>
        <span>
          <b>34</b> unique components
        </span>
      </div>

      <div>
        <ReactIcon/>
        <span>
          <b>6</b> supported frameworks
        </span>
      </div>

      <div>
        <TemplateIcon/>
        <span>
          <b>10</b> sample pages
        </span>
      </div>

    </section>
  </div>

  <main id="catalogue">

    <CustomComponent componentLink="sampleComponent.astro" compProps={{name: "Mario"}} />

    <span class="heading-with-icon">
      <BookletIcon />
      <h2>
        Catalogue
      </h2>
    </span>

    <CatalogueMenu />

    <ComponentSolo id="component-solo" />
    <ComponentList id="component-list" />
    <PageList id="page-list" />

  </main>

  <script>    
    const pref = document.getElementById('preferences');
    pref?.addEventListener("click", darkSwitch);
  </script>

</Layout>

<style>

#top-section {
  background: linear-gradient(to bottom, var(--base-color), transparent 45%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#top-section > .xylar-logo {
  fill: var(--primary-swatch-200);
  position: absolute;
  top: -39.66vw;
  right: 3vw;
  z-index: 0;
  height: 90vh;
  width: auto;
}

#top-section header {
  padding: 20vh 0 10vh; /* To be proportional for different screen sizes */
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#top-section header .lab-logo {
  margin-bottom: 2rem;
}

#top-section header h1 {
  line-height: 1.5;
}

#top-section header nav {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#top-section .xButton {
  box-shadow: var(--shadow);
}

#top-section .features {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#top-section .features > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

#top-section .features > div > svg {
  height: 85px;
  width: auto;
  color: var(--accent-color);
}

main {
  padding: 5vh 13px;
}

main .heading-with-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

main .heading-with-icon > svg {
  height: 24px;
  width: auto;
  color: var(--accent-color);
}

main h2 {
  display: inline-block;
}

/* Dark Mode */
:global(.dark) #top-section > .xylar-logo {
  fill: var(--neutral-swatch-800);
}

:global(.dark) #top-section nav .primary.xButton {
  box-shadow: var(--glow);
}

</style>
