---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & HTMLAttributes<"button">;
const { class: className, type = "button", ...attrs } = Astro.props as Props;
const isAnchor = "href" in Astro.props;
---

{
  !isAnchor ? (
    <button class:list={['xButton' , className]} type={type} {...attrs}>
      <slot />
    </button>
  ) : (
    <a class:list={['xButton' , className]} {...attrs}>
      <slot />
    </a>
  )
}

<style>

  .xButton {
    border: none;
    padding: 0.5rem 1.5rem;
    display: inline-flex;
    align-items: center;
    line-height: 1.2rem;
    font-size: 1rem;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .xButton.primary {
    color: var(--neutral-swatch-900);
    background-color: var(--primary-swatch-100);
  }

  .xButton.secondary {
    background-color: var(--primary-swatch-800);
    color: var(--primary-swatch-100);
  }

  :global(.dark) .xButton.primary {
    color: var(--neutral-swatch-100);
    background: var(--neutral-swatch-900);
  }

  :global(.dark) .xButton.secondary {
    background-color: var(--primary-swatch-100);
    color: var(--neutral-swatch-800);  
  }

  .xButton:hover {
    filter: brightness(1.3);
    transition: all 0.5s ease-in-out;
  }

</style>
